<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>404</title>
	<style type="text/css">
		body{overflow: hidden;}
			img{vertical-align: middle;}
			p{font-size: 16px;color:#323232;}
			.grey{color:#969696;}
			.page404{vertical-align: middle;text-align: center;position: absolute;width: 100%;top:50%;margin-top:-60px;}
		</style>
	</head>
	<body>
		<div class="page404">
			<img src="images/icon_404.png" alt="404" />
			<p>呜呜~网络不给力啊！</p>
			<p class="grey">点击屏幕，刷新下试试吧</p>
		</div>
	</body>
</html>
