<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小白有品协议 - {$ym_title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<style>body{background-color:#fff;}</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav" href="javascript:void(0);" onclick="history.go(-1);"></a>
			<h1 class="mui-center mui-title">小白有品协议</h1>
		</header>
		<div class="mui-content-top pure-page">
			{$diy_mobileagreement}
		</div>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	</body>
</html>
