<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/center.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="" class="mui-pull-left mui-icon mui-icon-left-nav"></a>
			<h1 class="mui-title" id="mytitle">消息</h1>
		</header>
		<div class="mui-content">
			<ul class="newmess-ul  bgw">
				<li class="mui-table-view-cell">
					<div class="mui-navigate-right">
						<a class="mess-head" href="chat.html">
							<span class="picbox" href="index.html"><img src="images/codepic.jpg"/></span>
							<span class="mess-num">99+</span>
						</a>
						<a class="mess-nr" href="chat.html">
							<span class="mui-block username">回忆专用的小马甲</span>
							<span class="ask mui-block">请问手表是几成新呢？</span>
						</a>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-navigate-right">
						<a class="mess-head" href="chat.html">
							<span class="picbox" href="index.html"><img src="images/codepic.jpg"/></span>
							<span class="mess-num">99+</span>
						</a>
						<a class="mess-nr" href="chat.html">
							<span class="mui-block username">回忆专用的小马甲</span>
							<span class="ask mui-block">请问手表是几成新呢？</span>
						</a>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-navigate-right">
						<a class="mess-head" href="chat.html">
							<span class="picbox" href="index.html"><img src="images/codepic.jpg"/></span>
							<span class="mess-num">99+</span>
						</a>
						<a class="mess-nr" href="chat.html">
							<span class="mui-block username">回忆专用的小马甲</span>
							<span class="ask mui-block">请问手表是几成新呢？</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
