<div class="fix-navbar">
	<ul class="fix-bar-ul flex">
		<li class="flex1">
			<a href="/">
				<span class="nav-icon navbar_b1"></span><span>首页</span>
			</a>
		</li>
		<li class="flex1">
			<a href="category.html">
				<span class="nav-icon navbar_b2"></span><span>分类</span>
			</a>
		</li>
		<li>
			<a href="cart.html" class="footcart">
				<!--{if $ym_cnum}-->
				<i class="footcartnum cartinfo">{$ym_cnum}</i>
				<!--{/if}-->
				<span class="nav-icon navbar_b3"></span><span>购物车</span>
			</a>
		</li>
		<li class="flex1">
			<a href="allcomment.html">
				<span class="nav-icon navbar_b5"></span><span>晒单</span>
			</a>
		</li>
		<li class="flex1">
			<a href="user.html">
				<span class="nav-icon navbar_b4"></span><span>我的</span>
			</a>
		</li>
	</ul>
</div>