<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>纯单页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<style>body{background-color:#fff;}</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav"></a>
			<h1 class="mui-center mui-title">单页面</h1>
		</header>
		<div class="mui-content-top pure-page">
			<center><img src="images/banner.jpg" alt="" style="display: block;margin-bottom:10px;"/></center>
			百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表百达翡丽自动机械男士腕表
		</div>
	</body>
</html>
