<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>评论管理</title>
		<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
		<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
		<script src="{adm_tpl}/js/api.js"></script>
	</head>

	<body>
		<div id="maintop">
			<div>你的位置：<span>评论管理</span></div>
		</div>
		<div id="mainnav">
			<form method="get" name="form1">
			<div class="tb-form">
				<p>
					<input name="uname" type="text" value="{$uname}" class="input wp110" id="uname" placeholder="完整的会员账号" />
					时间 <input type="text" name="start_date" value="{$start_date}" maxlength="10" readonly="readonly" class="time input wp120"/>-<input type="text" name="end_date" value="{$end_date}" readonly="readonly" maxlength="10" class="time input wp120"/>
					<input name="do" type="hidden" id="do" value="comment" />
					<input name="is_search" type="hidden" value="1" />
					<input type="submit" value="搜索" class="sub" style="width: 84px;"/>
				</p>
			</div>
			</form>
		</div>
		<div class="maintab list auto-height-list ajaxedit" style="min-height: 600px;">			
				<ul class="rowtit">
					<li class="w2"><strong>编号</strong></li>
					<li class="w15"><strong>会员</strong></li>
					<li class="w10"><strong>订单号</strong></li>
					<li class="w20"><strong>商品名称</strong></li>
					<li class="w25"><strong>内容</strong></li>
					<li class="w10"><strong>时间</strong></li>
					<li class="w5"><strong>显示</strong></li>
					<li class="w5"><strong>操作</strong></li>
				</ul>
				<!--{loop $row $p}-->
				<ul>
					<li class="w2">{$p['id']}</li>
					<li class="w15">{$p['uname']}&nbsp;</li>
					<li class="w10">{$p['order_sn']}</li>
					<li class="w20 multcon"><a href="{$p['url']}" target="_blank">{$p['name']}</a></li>
					<li class="w25 multcon">{$p['content']}</li>
					<li class="w10">{$p[addtime]}</li>
					<li class="w5"><a href="javascript:void(0);" class="ajax i-status{if $p['status']=='1'} i-status-on{/if}"  data-orival="{$p[status]}" data-id="{$p[id]}" data-do="comment" data-val="{$p[status]}" data-act="edit_status"></a></li>
					<li class="w5"><a href="javascript:void(0);" onclick="isdel('确定要删除吗','/admin.html?do=comment&act=delete&id={$p[id]}');" class="del">删除</a></li>
				</ul>
				<!--{/loop}-->
				<div class="page" style="">{$pages['pages']}</div>
		</div>
		<link rel="stylesheet" type="text/css" href="./static/datepicker/css/jquery-ui.css" />
		<script src="./static/datepicker/js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="./static/datepicker/js/jquery.ui.datepicker-zh-CN.js"></script>
		
		
        <script type="text/javascript">
       		$(function () {
	      		$("input[name='start_date'],input[name='end_date']" ).datetimepicker();	 			
	 		});
	 	</script>	
  </body>

</html>