<?php  $ym_tpl = {yunmai};
$htmlext = '/';
$user_code = "gjciG";
$web_email = "gg5g@qq.com";
$sindex = 1;
$coname = '{}';
$web_title = '佛山微官网|佛山网络公司|微网站制作|网站建设|微信网站设计-云迈互联';
$web_keyword = '佛山网页设计|佛山网站建设|佛山网络公司|佛山网站建设|佛山做网站|佛山网站制作';
$web_description = '云迈互联，是佛山一家专注于建设网站的企业，强大的设计团队、技术团队、服务团队；作为佛山网络公司的领先品牌！高端网站的缔造者！';
$web_icp = '粤ICP备14063679号-2';
$web_member = '1';
$web_shop = '1';
$web_endtitle = '佛山云迈网络|做网站专家!';
$product_w = '200';
$product_h = '150';
$product_l = '12';
$photo_w = '200';
$photo_h = '150';
$photo_l = '12';
$news_w = '200';
$news_h = '150';
$news_l = '10';
$ym_lang = '0';
$sort = Array();
$ym_allsort = Array();
$ym_idsort = Array();

$ym_idsort={sort3};{banner}