<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>发券</title>	
	<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" /> 
	<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
	<script type="text/javascript" src="{adm_tpl}/js/main.js"></script>	
</head>
<body>
<div id="maintop">
	<div>你的位置：<span>用户管理 -> 发券</span></div>
</div>
<div id="mainnav">
	{if $act =='edit'}<a class="button" href="./admin.html?do=coupon.add"><span>发券</span></a>{/if}
	<a class="button" href="./admin.html?do=coupon"><span>优惠券</span></a>
</div>
<div class="maincon" style="padding-bottom: 260px;">
	<form action="" method="post" enctype="multipart/form-data" name="form1" id="formcoupon" onsubmit="return check();">

		<div class="row"> 
			<label class="row-name">发放对象：</label>
			<div class="column">
						
				<label><input name="type" type="radio" value="1" checked="checked"/>指定会员</label> <input type="text" size="20" name="uname" placeholder="会员ID/会员名"/>			
				<br /><br />
				<label><input name="type" type="radio" value="2" /></label><input type="text" name="days_login" value="90" class="center wp60"/>天没有登陆
				<br /><br />
				<label><input name="type" type="radio" value="3" /></label><input type="text" name="days_order" value="90" class="center wp60"/>天没有下单
				<br /><br /><br />		
				<label>性别：</label>
				<label><input name="sex" type="radio" value="0" checked="checked"/>所有 </label>
				<label><input name="sex" type="radio" value="1" />男  </label>
				<label><input name="sex" type="radio" value="2" />女 </label>
				<br />					
				<label>会员等级：</label><!--{loop $grade $p}-->
					<label><input name="grade_ids[]" type="checkbox" value="{$p[grade_id]}" size="60" {if $grade_arr[0] == '0' || !$grade_arr}{$checked}{else}{$p['checked']}{/if}/>{$p['grade_name']}</label>
					<!--{/loop}-->
				
				<span></span>
			</div>
		</div>
		<div class="row" style="display: none;"> 
			<label class="row-name">通知获券用户：</label>
			<div class="column">
				<label><input name="notice_sms" type="checkbox" value="1" checked="checked"
					
					/>短信通知</label>
				<label><input name="notice_weixin" type="checkbox" value="1" disabled="disabled"/>微信通知</label>
			</div>	
		</div>	
		<div class="row c_type"><label class="row-name">优惠券：</label>
			<div class="column"><input type="button"  size="6" maxlength="5" value="选择优惠券" class="sub" onclick="openModWid();"/>
			<input name="coupon_ids" type="hidden" id="coupon_ids" data-ismult="0" data-gettype="{coupon_gettype_give}" value="{$id}"><span>已选择 <b id="coupon_count" style="color: #E01C2C;font-size: 14px;">1</b> 个</span></div>
		</div> 
		
		<div class="row"><label class="row-name"></label>
			<div class="column">
				<input type="submit" class="sub" value=" 发放 " /> 
				<input name="action" type="hidden" value="coupon" /> 
				<input name="grade_count" type="hidden" value="{$grade_count}" /> 
				<input name="act" type="hidden" value="give" />
				<input name="id" type="hidden" value="{$id}" /> 
			</div>
		</div>
		<div class="clear"></div>
	</form>
	<br />
</div>
	<script src="{adm_tpl}/js/jquery.js" type="text/javascript"></script>
	<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="./static/datepicker/css/jquery-ui.css" />
	<script src="./static/datepicker/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="./static/datepicker/js/jquery.ui.datepicker-zh-CN.js"></script>	
	
	<script type="text/javascript">
		$(function() {
			$(".ym_time" ).datetimepicker();
			
			$("input[name='date_type']").click(function() {
				$("#date>div").eq($(this).parent().index()).show().siblings("div").hide();
			});
			
			$("input[name='type']").click(function() {
				$(".c_type").eq($(this).parent().index()).show().siblings(".c_type").hide();
			});
		});
		
		var ok=false;
		function check() {
			if (ok) {
     			return true;
     		}
			if($.trim($("#name").val()) =='')
			{
				//msg("请填写券名");
				//return false;
			}
			            
            top.layer.confirm('确定发放吗？', function(index){
			    ok = true;
     			top.layer.close(index);
     			$("#formcoupon").submit();
			});
            
			return false;
		}
		
		//编辑区域
		    function openModWid() {
		    	var ii = top.layer.open({
					type: 2,
					title: '选择优惠券 - 平台发放',
					closeBtn: 1,
					shift: 2,
					fix:true,					
					shadeClose: false,
					area: ['1200px', '95%'],
					content: ['./admin.html?do=coupon_select'],
					end: function() {
						
					}
                });
		    }
	</script>
<style>.rolelist label{margin-left: 12px;}</style>
</body>
</html>