<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章/新闻管理</title>
<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />
<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
</head>

<body>
<div id="maintop"><div>你的位置：<span>内容管理 -> {$name}</span></div></div>

<div id="mainnav"> 	<a class="button" href="./admin.html?do=columns.add"><span>新建内容</span></a>
<!--{if $sow}-->
<a class="button" href="./admin.html?do={$sow[c_type]}&id={$sow[c_code]}"><span style="color:#090">返回上级</span></a><!--{else}--><a class="button" href="./admin.html?do=columns"><span style="color:#090">返回上级</span></a>
<!--{/if}-->

<a class="button" href="javascript:void(0);"><span style="color:#C00">当前：{$name}</span></a>

<!--{loop $clist $p}-->
<a class="button" href="./admin.html?do={$p[c_type]}&id={$p[c_code]}"><span>{$p[c_title]}</span></a>
<!--{/loop}-->
</div>


<div class="maincon">
<ul>
<form>
{$sortcon}
</form>

</ul>

</div>






</body>

</html>
