<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>商品管理</title>
		<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
		<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
		<script src="{adm_tpl}/js/api.js"></script>
	</head>

	<body>
		<div id="maintop">
			<div>你的位置：<span>商品管理</span></div>
		</div>
       <form method="get" id="goods" name="form1">
		<div id="mainnav">
			<a class="button" href="./admin.html?do=goods.add"><span>添加</span></a>
			<a class="button" href="javascript:void(0);" onclick="delrows('goods.delete')"><span>删除</span></a>
			<a class="button" href="./admin.html?do=goods.recycle"><span>回收站</span></a>
			<div class="fr w70 goods" style="position: relative;">
				<input type="text" id="cat_id" name="cat_name" value="{if $cat_name}{$cat_name}{else}选择分类{/if}" size="10" maxlength="200" class="sub selectable" readonly="readonly">
				<input name="cat_id" type="hidden" value="{$cat_id}">
				<div id="catlist" class="winlayer maincon" style="left: -260px;top: 34px;">
								<div>
									<div class="it" id="c1">
										<ul>
											<li class="on selected"><a href="javascript:void(0);" data-id="" onclick="selectCat(0,this);">所有分类</a></li>
											<!--{loop $cat $p}-->
											<li class="{if $pid2==$p[id]}on{/if} {if {$p[id]}==$row[id]}on selected{/if}"><a href="javascript:void(0);" data-id="{$p[id]}" onclick="selectCat({$p[id]},this);">{$p[name]}</a></li>
											<!--{/loop}-->
										</ul>
									</div>
									<div class="it" id="c2">
										<ul>
											<!--{loop $cat1 $p}-->
											<li class="{if $pid2==$p[id]}on{/if} {if {$p[id]}==$row[id]}on selected{/if}"><a href="javascript:void(0);" data-id="{$p[id]}" onclick="selectCat({$p[id]},this);">{$p[name]}</a></li>
											<!--{/loop}-->
										</ul>
									</div>
									<div class="it" id="c3">
										<ul>
											<!--{loop $cat2 $p}-->
											<li class="{if $pid3==$p[id]}on{/if} {if {$p[id]}==$row[id]}on selected{/if}"><a href="javascript:void(0);" data-id="{$p[id]}" onclick="selectCat({$p[id]},this);">{$p[name]}</a></li>
											<!--{/loop}-->
										</ul>
									</div>
									<div class="it" id="c4">
										<ul>
											<!--{loop $cat3 $p}-->
											<li class="{if $pid4==$p[id]}on{/if} {if {$p[id]}==$row[id]}on selected{/if}"><a href="javascript:void(0);" data-id="{$p[id]}" onclick="selectCat({$p[id]},this);">{$p[name]}</a></li>
											<!--{/loop}-->
										</ul>
									</div>
								</div>
				</div>	
				
				<input name="keyword" value="{$keyword}" type="text" class="input" id="keyword" placeholder="商品编号/名称" />
				<input type="submit" value="搜索" class="sub" />
				<input name="do" type="hidden" id="do" value="goods" />
			</div>
		</div>
		
		<div class="maintab list auto-height-list ajaxedit" style="min-height: 500px;">			
				<ul class="rowtit">
					<li class="w2"><input type="checkbox" name="chkall"  id="chkall" onclick="checkall(this.form)"/></li>
					<li class="w5 center"><strong>编号</strong></li>
					<li class="w50 center"><strong>名称</strong></li>
					<li class="w5"><strong>库存</strong></li>
					<li class="w5"><strong>上架</strong></li>
					<li class="w5"><strong>排序</strong></li>
					<li class="w15"><strong>操作</strong></li>
				</ul>
				<!--{loop $row $p}-->
				<ul>
					<li class="w2"><input type="checkbox" name="ids[]" value="{$p[goods_id]}" id="checkbox" /></li>
					<li class="w5 center" title="{$p[code]}"><strong>{$p[goods_id]}</strong></li>
					<li class="w50"><span class="img w60"><a href="{$p[code]}-g.html" target="_blank"><img src="{$p[thumb]}"/></a></span><input type="text" value="{$p[name]}" class="ajax w60" data-orival="{$p[name]}" data-id="{$p[goods_id]}" data-do="goods" data-act="edit_name"/></li>
					<li class="w5"><input type="text" value="{$p[number]}" size="3" class="ajax" data-orival="{$p[number]}" data-id="{$p[goods_id]}" data-do="goods" data-act="edit_number"/></li>					
					<li class="w5"><a href="javascript:void(0);" class="ajax i-status{if $p['status']=='1'} i-status-on{/if}"  data-orival="{$p[status]}" data-id="{$p[goods_id]}" data-do="goods" data-val="{$p[status]}" data-act="edit_status"></a></li>
					<li class="w5"><input name="c_sort[]" type="text" id="c_sort[]" value="{$p[sort]}" size="3" maxlength="5" class="ajax" data-orival="{$p[sort]}" data-id="{$p[goods_id]}" data-do="goods" data-act="edit_sort"/></li>
					<li class="w15"><a href="./admin.html?do=goods.edit&id={$p[goods_id]}" class="edit">修改</a><a href="javascript:void(0);" onclick="isdel('删除后，您可以通过回收站还原','/admin.html?do=goods.delete&id={$p[goods_id]}');" class="del">删除</a></li>
				</ul>
				<!--{/loop}-->
				<div class="page" style="">{$pages['pages']}</div>
			
		</div>
       </form>
       
       <script type="text/javascript">
       		//打开分类
				$("#cat_id").click(function(e) {
					$(".winlayer").hide();
					$("#brandkeyword").val('');
					$(this).siblings(".winlayer").slideDown(200);
					setTimeout(function() {
						if ($(".catlist .it").innerHeight() >= 345) {
							$(".catlist .it").css({
								"overflow-y": "scroll"
							});
						}
					}, 200);
					e.stopPropagation();
				});
				//选择分类
				function selectCat(v, t) {
					var th = $(t);
					$("#catlist .selected").removeClass("selected");
					th.parents("li").addClass("on selected").siblings().removeClass("on selected");
					$("input[name='cat_id']").val(th.data("id"));
					var catname = "";
					var n = th.parents(".it").attr("id");
					n = n.substring(1, n.length);
					var i = parseInt(n); //当前层级
					$("input[name='level']").val(i);
					while (n < $("#catlist .it").length) {
						n++;
						$("#catlist #c" + n).each(function() {
							if (n > i + 1) {
								$(this).children("ul").html("");
							} else {
								$(this).find("li.on").removeClass("on");
							}
						});
					}
					$("#catlist .it .on:last").each(function() {
						catname += " 》 " + $(this).children("a").html();
					});
					$("#cat_id").val($.trim(catname).substr(2, $.trim(catname).length));
					//获取下级分类
					$son = "";
					$.ajax({
						type: "post",
						url: "./admin.html?do=ajax",
						data: {
							act: "getCats",
							pid:th.data("id"),
						},
						dataType: "json",
						success: function(data) {
							if (data.err == '') {
								var m = 0;
								$.each(data.data, function(k, v) {
									$son += '<li><a href="javascript:void(0);" data-id="' + v.id + '" onclick="selectCat(' + v.id + ',this);">' + v.name + '</a></li>';
									m++;
								});
								if (m > 10) {
									$("#catlist #c" + (i + 1) + " ul").css("overflow-y", "scroll");
								}
								$("#catlist #c" + (i + 1) + " ul").html($son);
							} else {
								//msg(data.err);
							}
						},
						complete: function(XMLHttpRequest, textStatus) {}
					});
					//获取品牌关联的分类
					/*$.ajax({
						type: "post",
						url: "./admin.html?do=ajax",
						data: {
							act: "getBrandCat",
							id: th.data("id")
						},
						dataType: "json",
						success: function(data) {
							var tmp = '';
							if (data.err != '') {
								msg(data.err);
							} else {
								$.each(data.data, function(k, v) {
									tmp += '<a href="javascript:void(0);" data-id="' + v.id + '" onclick="getbrand(this);">' + v.name + '</a>';
								});
							}
							$("#contactbrand p").html(tmp);
						},
						error: function(data, t) {
							msg('操作失败');
							$("#contactbrand p").html('');
						},
						complete: function(XMLHttpRequest, textStatus) {}
					});*/
				};
				$("#catlist").click(function(e) {
					e.stopPropagation();
				});
				$(document).click(function() {
					$(".winlayer").hide();
				});
       </script>
	</body>

</html>