<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>商品管理</title>
		<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
		<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
		<script src="{adm_tpl}/js/api.js"></script>
	</head>

	<body>
		<div id="maintop">
			<div>你的位置：<span>商品管理->回收站</span></div>
		</div>
       <form method="post" id="goods" name="form1">
		<div id="mainnav">
			<a class="button" href="javascript:void(0);" onclick="delrows('goods.delete', '1')"><span>永久删除</span></a>
			<a class="button" href="javascript:void(0);" onclick="patchop('goods.delete','&act=recycle','确定要还原吗')"><span>还原</span></a>
			<b class="optip optip-list">（永久删除的操作将使商品数据不可以恢复，用户订单上的相关商品也将不会显示）</b>
			<input type="hidden" value="goods.delete" name="action" />
		</div>

		<div class="maintab list auto-height-list">			
				<ul class="rowtit">
					<li class="w2"><input type="checkbox" name="chkall"  id="chkall" onclick="checkall(this.form)"/></li>
					<li class="w50 center"><strong>名称</strong></li>
					<li class="w5"><strong>库存</strong></li>
					<li class="w15"><strong>操作</strong></li>
				</ul>
				<!--{loop $row $p}-->
				<ul>
					<li class="w2"><input type="checkbox" name="ids[]" value="{$p[goods_id]}" id="checkbox" /></li>
					<li class="w50"><span class="img w60"><img src="{$p[thumb]}"/></span>{$p[name]}</li>
					<li class="w5">{$p[number]}</li>					
					<li class="w15"><a href="javascript:void(0);" onclick="isdel('确定要还原吗','/admin.html?do=goods.delete&act=recycle&id={$p[goods_id]}');" class="edit">还原</a><a href="javascript:void(0);" onclick="isdel('','/admin.html?do=goods.delete&id={$p[goods_id]}&istrue=1');" class="del">永久删除</a></li>
				</ul>
				<!--{/loop}-->
				<div class="page" style="">{$pages['pages']}</div>
			
		</div>
       </form>
       <script type="text/javascript">
       		//推荐
			$(".i-status").click(function() {
				$(this).toggleClass("i-status-on").data('val',$(this).hasClass("i-status-on") ? '1' : '0').blur();
			});
       </script>
       
	</body>

</html>