<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>增加客户</title>
		<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
		<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
		<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />

	</head>

	<body>
		<div id="maintop">
			<div>你的位置：<span>会员管理 -> 增加会员</span></div>
		</div>
		<div id="mainnav"> <a class="button" href="./admin.html?do=member.add"><span>增加会员</span></a><a class="button" href="./admin.html?do=member"><span>会员列表</span></a></div>
		<div class="maincon">
			<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">				
				<div class="row">
					<label class="row-name"></label>
					<div class="column"><img src="" alt="未上传"><span></span></div>
				</div>
				<div class="row">
					<label class="row-name">用户名：</label>
					<div class="column"><input name="uname" type="text" id="uname" value="" size="60" autocomplete="off"/><span></span></div>
				</div>
				<div class="row">
					<label class="row-name">手机：</label>
					<div class="column"><input name="mobile" type="text" id="mobile" value="" size="60" maxlength="30" autocomplete="off"/>
					</div>
				</div>
				<div class="row">
					<label class="row-name">邮箱 ：</label>
					<div class="column"><input name="email" type="text" id="email" value="" size="60" autocomplete="off"/><span></span></div>
				</div>
				<div class="row">
					<label class="row-name">性别 ：</label>
					<div class="column"><label><input name="sex" type="radio" value="1" size="60" />男</label>
						<label><input name="sex" type="radio" value="2" size="60" />女</label><label><input name="sex" type="radio" value="0" size="60" />保密</label><span></span></div>
				</div>
				<div class="row">
					<label class="row-name">重置密码：</label>
					<div class="column">
						<input type="password" style="width: 1px;height:1px;border: none;float: right;">
						<input name="pwd" type="password" id="pwd" value="" size="60" autocomplete="off"/><span>需要重置密码时填写</span></div>
				</div>
				<div class="row">
					<label class="row-name">真实姓名 ：</label>
					<div class="column"><input name="realname" type="text" id="realname" value="" size="60" autocomplete="off"/><span></span></div>
				</div>
				<div class="row">
					<label class="row-name">会员等级：</label>
					<div class="column">
						<!--{loop $grade $p}-->
						<label><input name="grade_id" type="radio" value="{$p[grade_id]}" size="60" />{$p[grade_name]}</label>
						<!--{/loop}-->
					</div>
				</div>
				<!--分销-->
				{if $ym_ditribution_config['distrib_level']>0}
				<div class="row">
					<label class="row-name">分销级别：</label>
					<div class="column">
						<label><input name="commiss_id" type="radio" value="0" size="60" checked="checked"/>无</label>
						<!--{loop $ym_ditribution_config['commission'] $p}-->
						<label><input name="commiss_id" type="radio" value="{$p[id]}" size="60"/>{$p['name']}</label>
						<!--{/loop}-->
						<span></span></div>
				</div>	
				{/if}
				<div class="row">
					<label class="row-name">账户状态：</label>
					<div class="column">
						<label><input name="status" type="radio" value="1" size="60"/>正常</label>
						<label><input name="status" type="radio" value="0" size="60" />冻结</label><span>冻结后用户将不能登录</span>
					</div>
				</div>
 
				<div class="row"><label class="row-name"></label>
					<div class="column"><input name="action" type="hidden" id="action" value="member.add" /><input type="submit" class="sub" value=" 提交 " /></div>
				</div>
			</form>

		</div>

	</body>

</html>