<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>插件配置</title>
		<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
		<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>		
	</head>

	<body>
		<div id="maintop">
			<div>你的位置：<span>插件配置</span></div>
		</div>
		<div class="tabbd" style="min-height: 200px;">
			 <div class="maincon" >
				<br />
				<div class="list">
					<form action="" method="post" id="form1" enctype="multipart/form-data" name="form1" onsubmit="return check();">
					<div class="row"><label class="row-name">插件名称：</label>
						<div class="column"><input name="name" id="name" type="text" value="{$row['name']}" size="50" maxlength="50" /><span>插件名称</span></div>
					</div>
					<div class="row"><label class="row-name">版本：</label>
						<div class="column">
							<input name="version" id="version" type="text" value="{$row['version']}" size="50" maxlength="50" /><span></span>
						</div>
					</div>
					<div class="row"><label class="row-name">作者：</label>
						<div class="column"><input name="author" id="author" type="text" value="{$row['author']}" size="50" maxlength="50" /><span></span></div>
					</div>					
					<div class="row"><label class="row-name">是否启用：</label>
						<div class="column">
							<label><input name="status" type="radio" {if $row['status']==1}checked="checked"{/if} value="1" />是</label>
							<label><input name="status" type="radio" {if $row['status']==0}checked="checked"{/if}  value="0" />否 </label><span></span>
						</div>
					</div>
					<div class="row"><label class="row-name">介绍：</label>
						<div class="column">
							<textarea style="width: 600px;height: 120px;" name="memo" id="memo" maxlength="500">{$row['memo']}</textarea>
							<span></span></div>
					</div>	
					{loop $row['config'] $k $p}
					<div class="row"><label class="row-name">{$p}：</label>
						<div class="column">
							<input name="{$k}" id="{$k}" type="text" value="{$k}" size="50" maxlength="50" />
							<span></span></div>
					</div>	
					{/loop}
					<div class="row"><label class="row-name"></label>
						<div class="column">
							<input type="submit" class="sub" value="提交 " />	
							<input name="action" type="hidden" id="action" value="plugin">
							<input name="code" type="hidden" value="{$row['code']}">
							<input name="act" type="hidden" id="act" value="config">
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<style type="text/css">.maincon .row .row-name{width: 300px;}</style>
 
		<script type="text/javascript"> 	 
 
		    function check () {
		     	if ($.trim($("#name").val())=='') {
		     		msg("先填写名称");return false;
		     	}
		        return true;
		    }		   
			 
		</script>
	</body>

</html>