<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>商品类型管理</title>
		<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{adm_tpl}/js/jquery.js"></script>
		<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="maintop">
			<div>你的位置：<span>商品类型</span></div>
		</div>
       <form method="post" id="types" name="form1">
		<div id="mainnav">
			<a class="button" href="./admin.html?do=types.add"><span>添加</span></a>
			<a class="button" href="javascript:void(0);" onclick="delrows('types.delete')"><span>删除</span></a>
			<input type="hidden" value="types.delete" name="action" />
		</div>

		<div class="maintab list">			
				<ul class="rowtit">
					<li class="w5"><input type="checkbox" name="chkall"  id="chkall" onclick="checkall(this.form)"/></li>
					<li class="w25"><strong>类型名称</strong></li>
					<li class="w25"><strong>属性</strong></li>
					<li class="w15"><strong>排序</strong></li>
					<li class="w15"><strong>操作</strong></li>
				</ul>
				<!--{loop $row $p}-->
				<ul>
					<li class="w5"><input type="checkbox" name="ids[]" value="{$p[id]}" id="checkbox" /></li>
					<li class="w25">{$p[title]}</li>
					<li class="w25">{$p[attrs]}</li>
					<li class="w15">{$p[sort]}</li>
					<li class="w15"><a href="./admin.html?do=types.edit&id={$p[id]}" class="edit">修改</a><a href="javascript:void(0);" onclick="isdel('{$p[title]}','/admin.html?do=types.delete&id={$p[id]}');" class="del">删除</a></li>
				</ul>
				<!--{/loop}-->
				<div class="page" style="">{$pages['pages']}</div>
			
		</div>
       </form>
       <style>.maintab li{overflow: hidden;}</style>
	</body>

</html>