<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>编辑用户</title>	
	<link href="{adm_tpl}/css/css.css" rel="stylesheet" type="text/css" /> </head>
<body>
<div id="maintop">
	<div>你的位置：<span>用户管理 -> 编辑用户</span></div>
</div>
<div id="mainnav">
	{if $act =='edit'}<a class="button" href="./admin.html?do=user.add"><span>编辑用户</span></a>{/if}
	<a class="button" href="./admin.html?do=user"><span>用户列表</span></a>
</div>
<div class="maincon" style="padding-bottom: 50px;">
	<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1" onsubmit="return check();">
		<div class="row"> <label class="row-name">用户名：</label>
			<div class="column"><input name="username" maxlength="30" type="text" id="username" value="{$row[username]}" size="30" autocomplete="off"/><span></span></div>
		</div>
		<div class="row" style="display: none;"> <label class="row-name">显示名称：</label>
			<div class="column"><input name="name" type="text" size="30" value="{$row['name']}" autocomplete="off"/> </div>
		</div>
		<div class="row"> <label class="row-name">密码：</label>
			<div class="column">
				<input type="password" style="width: 1px;height:1px;border: none;float: right;padding: 0;">
				<input name="pwd" id="pwd" type="password" maxlength="20" size="30" autocomplete="off"/> 
				<span>{if $act =='edit'}如不修改请留空{/if}</span>
			</div>
		</div>
		<div class="row"><label class="row-name">状态：</label>
				<div class="column">
					<label><input name="status" type="radio" value="1" {if $act=='add'}checked="checked"{/if} {$cbk_status[1]}/>开启</label>
					<label><input name="status" type="radio" value="0" {$cbk_status[0]}/>禁止 </label><span></span>
				</div>
		</div>
		<div class="row"> <label class="row-name">角色：</label>
			<div class="column rolelist">
				<!--{loop $role $p}-->
				<label><input name="role_id[]" type="checkbox" value="{$p['id']}" {$cbk_role[$p['id']]}/>{$p['name']} </label>
				<!--{/loop}-->
			</div>
		</div>
		<div class="row"><label class="row-name"></label>
			<div class="column">
				<input type="submit" class="sub" value=" 提交 " /> 
				<input name="action" type="hidden" value="user" /> 
				<input name="act" type="hidden" value="{$act}" />
				<input name="id" type="hidden" value="{$id}" /> 
			</div>
		</div>
		<div class="clear"></div>
	</form>
</div>
	<script src="{adm_tpl}/js/jquery.js" type="text/javascript"></script>
	<script src="{adm_tpl}/js/main.js" type="text/javascript"></script>
	<script type="text/javascript">
		function check() {
			if($.trim($("#pwd").val()) !='' && $.trim($("#pwd").val()).length<6)
			{
				msg("密码请设置6位以上");
				return false;
			}
			return true;
		}
		
	</script>
<style>.rolelist label{margin-left: 12px;}</style>
</body>
</html>