<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$ym_title}</title>
		<meta name="keywords" content="{$ym_keywords}" />
		<meta name="description" content="{$ym_description}" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<style>
			.nav nav ul li a.ahover {
				border-bottom-color: #de342f;
			}
		</style>
	</head>

	<body>
<!--{tpl header}-->
		<div class="navtitleright nb"><a href="index.html">首页</a> {$crumbs_nav}</div>
		<div class="indbody pro-style">
			<div class="nb recom-box">
				<div class="part-price-sort">
					<ul class="pps">
						<li>
							<div class="lside-name">排序方式</div>
							<div class="rside-navtitle some-px">
								<a href="{$sort_add_time}" {$cur['a1']}>默认</a>
								<a href="{$sort_sale}" {$cur['s1']}><span>销量</span></a>
								<a href="{$sort_price}" {$cur['p1']}{$cur['p2']}><span class="price">价格</span><b {if $sort=='p2'}class="down"{elseif $sort=='p1'}class="up"{else}{/if}></b></a>
							</div>
						</li>
					</ul>
				</div>
                   <ul class="yourlike clearovermartb nobottompad">
                    	<!--{if $goods}-->
                    	<!--{loop $goods $p}-->
                    	<li>
							<a href="{$p['url']}" class="picbox">
								<img src="{$p['thumb']}" alt="">
							</a>
							<div class="elli">
								<a href="{$p['url']}">{$p['name']}</a>
							</div>
							<a href="{$p['url']}" class="price">￥<span>{$p['price']}</span></a>
							<div class="probottom">
                    			<a href="javascript:void(0);" onclick="addCart({$p[goods_id]},0,1);" class="buy">加入购物车</a><i class="line"></i>
                    			<a href="javascript:void(0);" onclick="addCart({$p[goods_id]},1,1);" class="addcart">立即购买</a>
                    		</div>
						</li>
                    	<!--{/loop}-->
                    	<!--{else}-->
                    	<div style="width: 100%; height: 200px;padding-top: 50px; background-color: #FFF;text-align: center;font-size: 16px;">
                    		没有符合条件的商品，请尝试其他搜索条件。
                    	</div>
                    	<!--{/if}-->
					</ul>
					<div class="pages"><!--{$pages['pages']}--></div>
			</div>
		</div>
		
	
		
		<!--{tpl footer}-->
		<!--{tpl toolbar}-->
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>	
		<script type="text/javascript" src="js/main.js" ></script>
		<script>
 			$(function () {
 				loadLayer();
 			});
		$(".ul-pro-box li").each(function(){
			if($(this).index()%4==3){
				$(this).css("margin-right","4px");
			}
			if($(this).index()%4==0){
			   $(this).css("margin-left","4px");
			}
		});
		$(".pps li:last-child").css("border-bottom","none");
		$(".some-px a").each(function(){
			$(this).click(function(){
				$(this).addClass("red").siblings().removeClass("red");	
				if($(".some-px b").hasClass("down") || $(".some-px b").prop("class")==undefined){
					 $(this).find("b").removeClass("down").addClass("up");
				}
				else
				{
					$(this).find("b").removeClass("up").addClass("down");
				}
			});
		})
		</script>
	</body>

</html>