<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>找回密码 - {$ym_title}</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/loginregister.css" />
		<link rel="stylesheet" href="css/valifrom.css" />
		<meta http-equiv="refresh" content="3;URL=/" /> 
	</head>

	<body>
		<div class="ny-header">
			<div class="nb">
				<div class="logo">
					<a href="../index.html"><img src="{$ym_logo}" alt="" /></a>
				</div>
				<div class="right login-right">
					<span>您好！欢迎光临{$ym_name} ！</span>
					<a href="login.html" class="blue">请登录</a>
				</div>
			</div>
		</div>
		<div class="nb">
			<div class="find-passw-box">
				<h3>找回密码</h3>
				<div class="jindu">
					<dl class="successdl">
						<dt class="success">1</dt>
						<dd>填写账户名</dd>
					</dl>
					<dl class="successdl">
						<dt class="success">2</dt>
						<dd>验证身份</dd>
					</dl>
					<dl class="successdl">
						<dt class="success">3</dt>
						<dd>设置新密码</dd>
					</dl>
					<dl class="successdl">
						<dt class="success">4</dt>
						<dd>完成</dd>
					</dl>
				</div>
				<div class="findform-box">						
					<p class="fsuccess4"><span style="color: #71b247;font-size: 20px;">密码修改成功！</span> 正在带您回到首页...</p>							
				</div>
			</div>			
		</div>
			
		<!--{tpl footer}-->
<script>
$(function () {
	loadLayer();
});
</script>
	</body>

</html>