<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{$ym_title}</title>
		<meta name="keywords" content="{$ym_keywords}" />
		<meta name="description" content="{$ym_description}" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<style>
			.nav .menu-mainnav{display: block;}
			.slidebanner .bd ul li{display:none}
			.slidebanner .bd ul li:first-child{display:block}
		</style>
	</head>
	<body class="greybg">
		<!--{tpl header}-->
		<div class="banner">
			<div class="slidebanner">
				<div class="hd">
					<ul></ul>
				</div>
				<div class="bd">
					<ul>
						<!--{loop $indexbanner $p}-->
						<li><a href="{$p['url']}" style="background:url({$p['img']}) no-repeat top center"></a></li>
						<!--{/loop}-->
					</ul>
				</div>
			</div>
			<div class="nb">
				<div class="lognew">
					<div class="login-quick">
						{if $ym_uname!=''}
						<a href="user.html" class="head"><img src="{if $user[img]}{$user[img]}{else}{$images}/avatar.jpg{/if}" alt="70*70"/></a>
						<p>Hi~您好！</p>
						<!--{if $user[grade_name]}-->
						<a href="user.html" class="btn-login">{$user[grade_name]}</a>
						<!--{/if}-->
						<a href="user.html" class="btn-regist">{$ym_uname}</a>
						{else}
						<a href="login.html" class="head"><img src="images/avatar.jpg" alt="70*70"/></a>
						<p>Hi~您好！</p>
						<a href="login.html" class="btn-login">请登录</a>
						<a href="reg.html" class="btn-regist">免费注册</a>
						{/if}
					</div>
					<div class="new-quick">
						<div class="quicknew-bar">
							<span>资讯</span><a href="n-news.html" target="_blank" class="rside">更多</a>
						</div>
						<ul>
							<!--{loop $diy_mobiletuisong $p}-->
							<li><a href="{$p['url']}">{$p[name]}</a></li>
							<!--{/loop}-->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="nb">
			{$diy_indexad}
		<!--{if $diy_timespike1}-->
				<div></div> class="time-limit">
					<div class="timeslimit-bar">
						<span>限时秒杀</span>
						<p data-time="{$nowtime}" class="time" id="time1">还剩：<span id="v_day1">0</span>天<span id="v_hour1">0</span>小时<span id="v_minute1">0</span>分<span id="v_second1">0</span>秒</p>
						
						<a href="timespike.html" target="_blank" class="rside">查看全部 &gt;</a>
					</div>
					<div class="slide-timeslimit" style="height: 268px;">
						<div class="prev-next">
							<a href="javascript:void(0);" class="prev"></a>
							<a href="javascript:void(0);" class="next"></a>
						</div>
						<div class="bd">
							<ul>
								<!--{loop $spike['goods'] $p}-->
								<li>
									<div class="nr">
										<a class="picbox" href="{$p[url]}" target="_blank"><img src="{$p[thumb]}" alt=""/></a>
										<p class="word"><a href="{$p[url]}">{$p[name]}</a></p>
										<div class="pricebox">
											<div class="price">￥<span>{$p[price]}</span></div>
											<del>￥{$p[marketprice]}</del>
										</div>
									</div>
								</li>
								<!--{/loop}-->
							</ul>
						</div>
						<div class="hd" style="display: none;">
							<ul></ul>
						</div>
					</div>
				</div>
		<!--{/if}-->
				<div class="floor-fontainer">
					<!--{if $diy_indexfloor}-->
					<div class="leftgood-bar">
						<!--{loop $diy_indexfloor $k $c}-->
						<div class="lgb {if !$k}onlgb{/if} lgb{$k}">
							<a href="javascript:void(0)" name="#floor{$k}">
								<span>{$c[name]}</span>
							</a>
						</div>
						<!--{/loop}-->	
					</div>
					<div class="rightgood-body">
					<!--{loop $diy_indexfloor $k $c}-->
						<div class="floor floor{$k}" id="floor{$k}">
							<div class="floor-title">
								<h3><a href="{$c[url]}">{$c[name]}</a></h3>
								<a href="{$c[url]}" class="more">查看全部 &gt;</a>
								<ul class="navson">
									<!--{loop $c[child] $p}-->
									<li><a href="{$p[url]}">{$p[name]}</a></li>
									<!--{/loop}-->
								</ul>
							</div>
							<div class="floornr">
								<div class="itemsale">
									<a href="{$c[url]}" class="picbox">
										<img src="{$c[img]}" alt="" style="background-image:url(images/icon-duo.png)"/>
									</a>
									<a href="{$c[url]}" class="itemtitle">
										<h4 class="ellipsis">{$c[name]}</h4>
										<p class="ellipsis">{$c[remark]}</p>
									</a>
								</div>
								<div class="style-sale">
									<ul>
									<!--{loop $c[goods] $v}-->
										<li>
											<a href="{$v['url']}" target="_blank">
												<h4 class="ellipsis">{$v['name']}</h4>
												<p class="ellipsis">{$v['subname']}</p>
												<span class="picbox">
													<img src="{$v['thumb']}" alt="238*130"/>
												</span>
											</a>
										</li>
									<!--{/loop}-->
									</ul>
								</div>
								<div class="brand-sale">
									<ul>
										<!--{loop $c['brands'] $b}-->
										<li><a href="{if $b[url]}{$b[url]}{else}../brand.html?id={$b[id]}{/if}" target="_blank"><img src="{$b[logo]}" alt="80*60" width="60" height="60"/></a></li>
										<!--{/loop}-->
									</ul>
								</div>
							</div>
						</div>
						<!--{/loop}-->
					</div>
					<!--{/if}-->					
				</div>
				<!--猜你喜欢-->
				<!--{if $remmend_goods}-->
				<div class="guesslike">
					<div class="title-ab">
						<h4>猜你喜欢</h4>
					</div>
					<ul class="yourlike indyourlike">
						<!--{loop $remmend_goods $p}-->
						<li>
							<a href="{$p[url]}" class="picbox" target="_blank">
								<img src="{$p[thumb]}" alt=""/>
							</a>
							<div class="elli">
								<a href="{$p[url]}" target="_blank">{$p[name]}</a>
							</div>
							<a href="{$p[url]}" class="price" target="_blank">￥<span>{$p[price]}</span></a>
						</li>
						<!--{/loop}-->
					</ul>
				</div>
				<!--{/if}-->
			</div>
		</div>
<!--{tpl footer}-->
<!--{tpl toolbar}-->
		<script type="text/javascript" src="js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="js/main.js" ></script>
		
		<script>

		$(".nav .nav-classify").addClass("nav-classifyopaity");
 			$(function () {
 				loadLayer();
 			});
			jQuery(".slidebanner").slide({mainCell:".bd ul",titCell:".hd ul",autoPlay:true,autoPage:true});
			jQuery(".slide-timeslimit").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:false,scroll:6,vis:6});
		//秒杀计时
			InterValObj1 = window.setInterval(function () {SetRemainTime(1);}, 1000); 
			//侧栏浮动定位显示隐藏
			$(window).scroll(function(){
				var topH=$(".header").height()+$(".banner").height();
				var footH=$(document).height()-$(".footer").height()-500;
			
				if($(this).scrollTop()>topH-250 && $(this).scrollTop()<=footH){
					$(".leftgood-bar").fadeIn(200);
				}else{
					$(".leftgood-bar").fadeOut(200);
				}
			});
			setLeftBar();
			function setLeftBar(){
				if($(window).width()>1800){
					$(".leftgood-bar").css("left",'250px');
				}
				if($(window).width()<=1800){
					$(".leftgood-bar").css("left",'120px');
				}
				if($(window).width()<1600){
					$(".leftgood-bar").css("left",'0px');
				}
			}
			$(window).resize(function(){
				setLeftBar();
			});
			$(".leftgood-bar .lgb").each(function(){
				$(this).click(function(){
				    $("body ,html").animate({scrollTop: $($(this).find("a").attr("name")).offset().top}, 500);
				    
				});
			});
			$(window).scroll(function(){
				var scrollTop=$(window).scrollTop();
				var len = $(".leftgood-bar").children().length;
				for (var i = 0; i < len; i++) {
					if(scrollTop+250>=$("#floor"+i).offset().top) {
						$(".lgb").eq(i).addClass("onlgb").siblings().removeClass("onlgb");
					}
				}
			});
			//ie hask
			var DEFAULT_VERSION = "8.0";
			var ua = navigator.userAgent.toLowerCase();
			var isIE = ua.indexOf("msie")>-1;
			var safariVersion;
			if(isIE){
			    safariVersion =  ua.match(/msie ([\d.]+)/)[1];
			}
			if(safariVersion <= DEFAULT_VERSION ){
			    $(".indyourlike li:nth-child(5n)").css("margin-right","0px");
				$(".cont-item a:last-child").css("margin-right","0px");
				$(".time-limit .slide-timeslimit .bd li:nth-child(6n)").children(" .nr").css("border-right","none");
			}
		</script>
	</body>
</html>
