<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>充值 - {$ym_endtitle}</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="css/cart.css"/>

	</head>

	<body>
		<div class="ny-header">
			<div class="nb">
				<div class="logo">
					<a href="/"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="right cart-center"> {if $ym_uname!=''}
					<a href="/user.html" class="red">{$ym_uname}</a>&nbsp;&nbsp;
					<a href="/user.html?act=logout">退出</a> {else}
					<a href="login.html" class="red login">马上登录</a>
					<a href="/reg.html" class="red">免费注册</a>{/if}
					<a href="/myorder.html">我的订单</a>
					<a href="/help.html">客户服务</a>
				</div>
			</div>
		</div>
		<div class="cart-box">
			<div class="nb" style="position: relative;overflow: hidden;">
				<div class="recharge" style="min-height: 300px;margin-top: 50px;padding: 50px 100px; background-color: #fff;border: 1px solid #E4E4E4;">
					<h3 style="margin-bottom: 100px;text-align: center;font-size: 20px;">充值中心</h3>
					<div style="margin-left: 197px;">充值金额：<input type="text" class="input" onkeyup="onlyAmount(this,2);"> 元</div><br />
					<div class="zhifu-box" style="border: none;">
						<ul class="zfb" id="paylist">
							<li style="line-height: 53px;">选择付款方式</li>
							<!--{loop $payment $p}-->
							<li>
								<i class="icon-check-zf" {if $pay_code==$p['pay_code']}style="display: block;"{/if}></i>
								<a href="pay.html?oid={$order['order_sn']}&pay_code={$p['pay_code']}" id="{$p['pay_code']}" {if $pay_code==$p['pay_code']}class="selected"{/if}><img src="{upload_img}/payment/{$p['pay_code']}.png" />{$p['pay_name']}</a>
							</li>
							<!--{/loop}-->
						</ul>
		    		</div>
				</div>
			</div>
		</div>
	
		<!--{tpl footer}-->
		<!--{tpl toolbar}-->
		 
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/main.js" ></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="js/cart.js" ></script>
		
		<script>
			$(function(){
				$(".ul-pro-box li").each(function(){
					if($(this).index()%3==2){
						$(this).css("margin-right","0");
					}			
				});
				$(".slide-like-pro").slide({});				
			});
		</script>
	</body>

</html>