<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>操作提示 - {$ym_endtitle}</title>
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/center.css" />
	<meta http-equiv="refresh" content="{$s};URL={$url}" /> 
</head>
<body>
<!--{tpl header}-->	
<div class="nb" style="width: 800px; padding: 100px 50px;text-align: center;line-height: 30px;">
	<div class="red" style="font-size: 15px;">{$msg}</div> 
	<br />
	<a href="{$url}" style="color: #005ea7;">点击返回上一页</a>
</div>	
<script type="text/javascript">
	setTimeout(function () {
		window.location.href ='{$url}';
	},{$s}*1000);
	
</script>
<!--{tpl footer}-->	
<!--{tpl toolbar}-->